<?xml version="1.0" encoding="utf-8"?>
<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:uap5="http://schemas.microsoft.com/appx/manifest/uap/windows10/5"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  xmlns:com="http://schemas.microsoft.com/appx/manifest/com/windows10"
  xmlns:desktop="http://schemas.microsoft.com/appx/manifest/desktop/windows10"
  IgnorableNamespaces="mp uap uap5 rescap com desktop">

  <Identity
    Name="Kvanto.TaskTracker"
    Publisher="CN=Kvanto"
    Version="1.0.0.0" />

  <mp:PhoneIdentity PhoneProductId="5fb5d2b6-b3d7-4c15-a8b2-1e9fdcb7e4a3" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>Kvanto</DisplayName>
    <PublisherDisplayName>Kvanto</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.17763.0" MaxVersionTested="10.0.22621.0" />
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.17763.0" MaxVersionTested="10.0.22621.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="$targetentrypoint$">
      <uap:VisualElements
        DisplayName="Kvanto"
        Description="Daily Task Tracker with Pomodoro"
        BackgroundColor="transparent"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" Square71x71Logo="Assets\SmallTile.png" Square310x310Logo="Assets\LargeTile.png"/>
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
        <uap:LockScreen BadgeLogo="Assets\BadgeLogo.png" Notification="badge" />
      </uap:VisualElements>
      <Extensions>
        <!-- System Tray / Startup task -->
        <uap5:Extension Category="windows.startupTask">
          <uap5:StartupTask TaskId="KvantoStartup" Enabled="false" DisplayName="Kvanto" />
        </uap5:Extension>
        <!-- Desktop notification activator -->
        <desktop:Extension Category="windows.toastNotificationActivation">
          <desktop:ToastNotificationActivation ToastActivatorCLSID="7c5a3aa1-4674-4f44-b191-0c4b62ab2ec4"/>
        </desktop:Extension>
        <!-- COM registration for toast activation -->
        <com:Extension Category="windows.comServer">
          <com:ComServer>
            <com:ExeServer Executable="Kvanto.exe" DisplayName="Kvanto Toast Activator">
              <com:Class Id="7c5a3aa1-4674-4f44-b191-0c4b62ab2ec4" DisplayName="Kvanto Toast Activator"/>
            </com:ExeServer>
          </com:ComServer>
        </com:Extension>
      </Extensions>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient" />
    <rescap:Capability Name="runFullTrust" />
  </Capabilities>
</Package>
